{% layout 'layout.liquid' %}
{% block content %}

<div class="container centered edges">
    <div class="grid grid-auto grid-3-sm mt-5">
        <div class="column">
        </div>
        <div class="column">
            <h1 class="align-center heading-large mb-5">
                {{class.name}}
            </h1>
            <h2 class="align-center"> Change Semester: </h2>
            <form class="align-center" action="/schedule/{{class._id}}/{{semnumb}}?_method=PUT" method="POST">
                <input class="input align-center form-item" type="number" min="0" value="{{semnumb}}" name="semnumbtochangeto">
                <div>
                <input 
                    type="submit" 
                    value="Edit" 
                    class="button button-primary centered align-center"
                >
                </div>
            </form>
            <div class="mt-3 align-center">
            <a class="" href="/schedule">Back to Schedule</a>
            </div>
        </div> 
        <div class="column">
        </div> 
    
    </div>
</div>


{% endblock %}