<!DOCTYPE html>
    <html>
        <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/superkube@latest/dist/superkube.min.css">
            <link rel="stylesheet" href="/styles.css">
            <link rel="stylesheet" href="/styles.css">
            <title>My Fruits</title>
           
        </head>
        <body>
            
            <header class="header">
                {% if session.loggedIn == true%}
                    <div class="navbar bg-dark centered edges">
                        <div class="navbar-container"><div class="navbar-brand">
                            <a href="/schedule" class="brand" style="color: white">Grad</a>
                        </div>
                            <nav class="nav nav-centered nav-light nav-semibold">
                                <ul class="nav-list">
                                    <li class="nav-item"><a href="/schedule" class="nav-link">My Schedule</a></li>
                                    <li class="nav-item"><a href="/schedule/genreqs" class="nav-link">Credits</a></li>
                                    <li class="nav-item"><a href="/major" class="nav-link">Major</a></li>
                                    <li class="nav-item"><a href="/catalogue"class="nav-link">Class Catalogue</a></li>
                                </ul>
                            </nav>


                            <div class="navbar-action push-right">
                                <a href="/users/logout" class="button button-light-outline button-round button-small">Logout</a>
                            </div>
                            
                            
                        </div>
                    </div>
                {% endif %}
            </header>

            
            
                {% block content %}
                my content
                {% endblock%}
        </body>
    </html>