{% layout 'layout.liquid' %}

{% block content %}
<div class="container centered edges mt-5">
    <div class="mt-3 align-center">
        <a class="button" href="/classes/new">Create Class</a>
        <a class="button button-primary" href="/classes/search">Choose Class</a>
    </div>
</div>
{% endblock %}